body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("pastel.png");
    background-size: cover;

}

#calculator {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;

}

#display {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #E0B2E7;
    border: 1px #C59FCB solid;
    color: #8A5092;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    background-color: #FFCDEA;
    border: 1px #DE9DC3 solid;
    color: #A84D86;
    
}